/******* LANDING PAGE STYLES *******/

.lb-background {
  background-color: #ebf4ff;
}

.db-background {
  background-color: #0a459e;
}

.white {
  color: white;
}

.black {
  color: #000000;
}

/*NAV SECTION*/
.nav-link {
  background-color: #2979ec;
  border-radius: 36px;
  font-family: "Open Sans", sans-serif;
  font-size: 25px;
  line-height: 34px;
  font-weight: 600;
  letter-spacing: 0px;
  padding: 18px 45px;
}
.nav-link:hover {
  background-color: #0a459e;
  color: white;
  transition: 0.3s;
}
nav {
  padding-left: 43px;
  padding-right: 68px;
  padding-top: 22px !important;
}

.logo {
  width: 160px;
  height: 160px;
}

/*HERO SECTION*/
h1 {
  font-size: 100px;
  font-family: "Open Sans", sans-serif;

  font-weight: normal;
  line-height: 100px;
}
span {
  font-size: 100px;
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
  line-height: 100px;
}

.hero-txt {
  text-align: left;
  letter-spacing: 0px;
  font-size: 40px;
  font-family: "Open Sans", sans-serif;
  font-weight: normal;
  line-height: 45px;
  padding-left: 175px;
}

.hero-txt p {
  padding-right: 41.5%;
}

.hero {
  padding-top: 48px;
  height: 600px;
  padding-left: 130px;
}
.hero-p {
  padding-top: 55px;
}

/*MIDDLE SECTION*/
.mid-section {
  /* padding: 190px 100px 172px 100px;*/
  margin-top: 180px;
  /*width: 1020px;*/
  /*margin-top: 190px;
  margin-bottom: 172px;
  margin-left: 300px;
  margin-right: 275px;*/

  /*margin: 25px 50px 75px 100px;
   top margin of 25px, a right margin of 50px, a bottom margin of 75px, and a left margin of 100px.
  */
}

.mid-col-txt {
}

.mid-col-txt h3 {
  padding: 0% 18% 3% 18%;
  letter-spacing: 0px;
  font-size: 40px;
  font-family: "Open Sans", sans-serif;
  font-weight: bold;
  line-height: 48px;
}

.mid-col-txt p {
  padding: 0% 13% 0% 18%;
  font-size: 28px;
  text-align: left;
  line-height: 35px;
  font-family: "Open Sans", sans-serif;
  font-weight: normal;
  letter-spacing: 0px;
}

.mid-col-img img {
  padding: 7% 2% 4% 0.5%;
}

.row2.col-right h3 {
  padding: 0% 0% 0% 1%;
}

/*MID-SECTION SECOND ROW PADDING OF COLUMNS*/
.mid-col-txt.col-right h3 {
  padding: 0% 27% 4% 0%;
}
.mid-col-txt.col-right p {
  padding: 0% 31% 1% 0%;
}

/*.row.row1 {
    width: 1247px;
}*/
.row.row1,
.row.row2 {
  padding-left: 130px;
}

.row2 {
  margin-top: 11%;
  margin-bottom: 7.5%;
}

.img-tools {
  max-width: 625px;
  max-height: 443px;
}
.img-department {
  max-width: 714px;
  max-height: 506px;
  padding: 0% 0% 3% 20% !important;
}

/*FOOTER*/
footer {
  /* top: 2242px;
  left: 0px;
  width: 1927px;
  height: 235px;
  background: #0a459e 0% 0% no-repeat padding-box;
  opacity: 1;*/

  top: 2242px;
  left: 0px;
  height: 375px;
  padding-top: 148px;
}

.footer-txt {
  /*font: normal normal 600 50px/70px Open Sans, sans-seif;*/
  margin-top: -1%;
  font-size: 50px;
  font-family: "Open Sans", sans-serif;
  letter-spacing: 0px;
  font-weight: 600;
  line-height: 70px;
}

.footer-btn {
  border: 3px solid #ffffff;
  background-color: transparent;
  border-radius: 36px;

  font-size: 25px;
  line-height: 34px;
  font-weight: bold;
  width: 327px;
  height: 71px;
  font-family: "Open Sans", sans-serif;

  /* font: normal normal bold 25px/34px Open Sans;*/

  /*
  top: 2509px;
  left: 756px;
  width: 327px;
  height: 71px;
  */
}

.footer-btn:hover {
  background-color: white;
  color: #0a459e;
  transition: 0.3s;
}

.btn-row {
  margin-top: 53px;
}
